div.notFound {
    text-align: center;
    width: 100%;
}

h1 {
    text-align: center;
    line-height: 1.35em;
    color: #003862;
    /* font: normal normal normal 40px/1.35em AvenirLTStd85Heavy,sans-serif; */
    font: normal normal normal 22px/1.41em raleway,sans-serif;
    text-transform: uppercase;
    margin-bottom: 60px;
}