.container {
    max-width: 90%;
    padding-bottom: 10px;
}
.navbar-light {
    background-color: #fff;
}
.is-active {
    color: #003862;
    font-weight: 600;
}
h5 {
    font: normal normal normal 22px/1.41em raleway, sans-serif;
    color: #000;
}
.navbar-brand img {
    width: 80px;
    height: auto;
}
.navbar-text p,
.navbar-text h5 { 
    margin-bottom: 0px; 
} 
.navbar-text p {
    font: normal normal normal 15px/1.875em raleway, sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: #191919;
}
.social-media {
    margin-left: 20px; 
}

.social-media a {
    float: left;
}
.fa-circle:before {
    font-size: 10px;
    padding-right: 2px;
}

@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
      }
    .navbar-brand {
        margin-right: 0px;
    }
    .navbar-brand img {
        width: 50px;
        height: auto;
    }
    .navbar-text {
        width: 60%;
    }
    .navbar-text h5 { 
        font-size: 18px; 
    } 
    .navbar-text p { 
        font: normal normal normal 14px/1.375em raleway, sans-serif;
    } 
    .social-media {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-left: 0px; 
    }
    .social-media a {
        margin: auto;
    }
  }