<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Om mani padme hum</h3>
        <p>six-syllabled Sanskrit mantra particularly associated with the four-armed Shadakshari form of Avalokiteshvara.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Junior Mascarenhas</h3>
        <p>Developer, Geek and Passionate about Technology</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Suae quisque fortuna faber est.</h3>
        <p>Sapientiam autem non vincit malitia.</p>
      </div>
    </ng-template>
  </ngb-carousel>