.container {
    text-align: center;
    width: 80%;
    margin-top: 0px;
}
.row {
    padding-top: 70px;
}
h2 {
    line-height:1.2em;
    letter-spacing: normal;
    font: normal normal normal 22px/1.41em raleway,sans-serif;
    color: #000000;
}