<div class="bg-aqua">
  <div class="container">
    <div class="row">
      <div class="col parent">
        <div class="child">
          <p data-scroll-reveal="enter left and move 50px over 2s">
            "Intelligence is the ability to adapt to change."
          </p>
          <h3 data-scroll-reveal="enter bottom and move 50px over 4s">- Stephen Hawking</h3>
        </div>
      </div>
      <div class="col">
          <img class="img-responsive" src="../assets/images/ideas.png" alt="ideas">
          <div class="background-black"></div>
      </div>
    </div>
  </div>
</div>