/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

* {
    font-family: Raleway, sans-serif; 
    color: #000000;
}
    @font-face {
    font-family: 'AvenirLTStd85Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('/assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
    }
    
    